@model AspNetCoreDiByName.Models.DtoA
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home"
      asp-action="Index"
      method="post">
    <table>
        <tr>
            <td>
                Name:
                <input asp-for="Name" />
            </td>
        </tr>
    </table>
    <input type="submit"
           value="Submit" />
</form>
